####################################
# DEPENDÊNCIAS
####################################
node_modules/
bower_components/
jspm_packages/

####################################
# BUILD / OUTPUT
####################################
dist/
build/
out/

####################################
# FRAMEWORKS
####################################
.vite/
.next/
.nuxt/
.parcel-cache/
.cache/

####################################
# TESTES
####################################
coverage/

####################################
# LOGS
####################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

####################################
# VARIÁVEIS DE AMBIENTE
####################################
.env
.env.*
!.env.example

####################################
# IDE / EDITORES
####################################
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

####################################
# SISTEMA OPERACIONAL
####################################
.DS_Store
Thumbs.db

####################################
# OUTROS
####################################
*.tmp
*.temp
